html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(to left, #c57b6f, #6d364a);
  /*background: url('./images/b2.jpg') no-repeat 50% fixed / cover;;*/
}
* {
  box-sizing: border-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoText {
  font-size: 72px;
  background: -webkit-linear-gradient(#38122f, #8b323e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2px #ffe8d3;
  text-shadow: 2px 2px 4px linear-gradient(#38122f, #8b323e);
  
}
@media only screen and (max-width: 450px) {
  .logoText {
    display: none;
  }
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(97, 97, 97);
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #e0765a, #36074d);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #db532d, #36074d);
}

/* Clock styling */
.clock {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.clock .date {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.clock .time {
  margin-top: 5px;
  font-size: 1.2em;
  font-weight: 200;
  color: white;
  letter-spacing: 2px;
  font-family: "Times New Roman";
}

.clock .time span {
  background: #3a132f;
  color: white;
  border-radius: 6px;
  padding: 2px 5px 3px 5px;
  border: 1px solid white;
}

/*--------------------- Profile Styles ------------------*/
.content {
  padding: 80px 280px 30px 30px;
}
.profile-col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  box-sizing: border-box;
  
}
@media only screen and (min-width: 601px) {
  .profile-col{
 
  }
}
@media only screen and (max-width: 600px) {
 .profile-col{
   display: flex;
   justify-content: flex-end;
   padding: 0;
 }
}
.footer {
  padding: 24px 300px 24px 0;
}
.card {
  background: linear-gradient(to bottom, #e0765a, #36074d);
  position: relative;
  min-width: 355px;
  width: 95%;
  margin-bottom: 30px;
  box-shadow: 20 10px 50px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.2857rem;
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #cccccc;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .card{
    width:83%;
  }
 }

.card-user {
  overflow: hidden;
}

.card-user .image {
  height: 120px;
}
.card-user .author {
  text-align: center;
  text-transform: none;
  margin-top: 25px;
}
.card-user .author a + p.description {
  margin-top: -7px;
}
.card-user .author .block {
  position: absolute;
  height: 100px;
  width: 250px;
}
.card-user .author .block.block-one {
  background: rgba(48, 16, 39, 0.6);
  background: -webkit-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -o-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -moz-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  margin-top: -90px;
  margin-left: -50px;
}
.card-user .author .block.block-two {
  background: rgba(48, 16, 39, 0.6);
  background: -webkit-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -o-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -moz-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(134, 129, 133, 0.6) 0%,
    rgba(87, 85, 86, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  margin-top: -40px;
  margin-left: -100px;
}
.card-user .author .block.block-three {
  background: rgba(48, 16, 39, 0.6);
  background: -webkit-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -o-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -moz-linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(48, 16, 39, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
  -webkit-transform: rotate(170deg);
  -moz-transform: rotate(170deg);
  -ms-transform: rotate(170deg);
  -o-transform: rotate(170deg);
  transform: rotate(170deg);
  margin-top: -70px;
  right: -45px;
}
.card-user .author .block.block-four {
  background: rgba(112, 34, 90, 0.6);
  background: -webkit-linear-gradient(
    to right,
    rgba(122, 45, 100, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -o-linear-gradient(
    to right,
    rgba(122, 45, 100, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: -moz-linear-gradient(
    to right,
    rgba(122, 45, 100, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(146, 146, 146, 0.6) 0%,
    rgba(48, 16, 39, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
  margin-top: -25px;
  right: -45px;
}
.card-user .avatar {
  width: 124px;
  height: 124px;
  max-width: "100%";
  border: 5px solid #2b3553;
  border-bottom-color: transparent;
  background-color: initial;
  position: relative;
  border-radius: 50%;
  margin-bottom: 0px;
  object-fit: cover;
}

.card-user .card-description {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 300;
}

.card-user .card-body {
  min-height: 240px;
  padding: 15px;
  flex: 1 1 auto;
}
.card-user hr {
  margin: 5px 15px;
}

.card-footer {
  margin-bottom: 6px;
  text-align: center;
}

.icons-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
}

.edit-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card a {
  color: #cccccc;
}

/*Styles for User Name */
.handleStyles{
  margin: auto 10px auto 10px;
  background: -webkit-linear-gradient(#D87159, #612350);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}